<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% include '@partials/meta_header.twig' %}
	{% block header %}{% endblock %}
</head>
<body>
	{% include '@partials/theme/header.twig' %}
	<x-linktree linktree=page.getLinkTree />

	{% block content %}{% endblock %}

	{% include '@partials/theme/footer.twig' %}
	<x-cookie-footer />

	{% block js %}{% endblock %}
</body>
</html>