<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% include '@layouts/meta_header.twig' %}
</head>
<body>
	{% include '@partials/linktree.twig' %}

	{% block content %}{% endblock %}

	{% include '@layouts/theme_footer.twig' %}
</body>
</html>