<!DOCTYPE html>
<html>
<head>
	{% include '@layouts/meta_header.twig' %}
</head>
<body>
	{% include '@partials/linktree.twig' %}

	{% block content %}{% endblock %}

	{% include '@layouts/theme_footer.twig' %}
</body>
</html>