	<footer>
		<a href="http://storybb.org" title="StoryBB" target="_blank" rel="noopener">StoryBB =StoryBB\App::SOFTWARE_VERSION} &copy; =StoryBB\App::SOFTWARE_YEAR}, StoryBB project</a>

		<a href="{{ link('help_smileys') }}">{{ phrase('help') }}</a>
		<a href="{{ link('help_policy', policy="terms") }}">{{ phrase('General:terms') }}</a>
	</footer>