# Force our line endings to be LF, even for Windows
* text

# Set certain files to be binary
*.wav binary
*.png binary
*.jpg binary
*.gif binary
*.tgz binary
*.zip binary
*.tar.gz binary
*.ttf binary
*.otf binary
*.eot binary
*.woff binary
*.woff2 binary
*.webp binary