<!DOCTYPE html>
<html>
<head>
	<title>{block title|stripHtml|trim}{/block}</title>
	{if $site_settings->analytics_google_id?}
		{include '../includes/analytics_google.latte'}
	{/if}
	<meta name="generator" content="StoryBB">
</head>
<body>
	{block content}{/block}

	<footer>
		<a href="http://storybb.org" title="StoryBB" target="_blank" rel="noopener">StoryBB {=StoryBB\App::SOFTWARE_VERSION} &copy; {=StoryBB\App::SOFTWARE_YEAR}, StoryBB project</a>

		<a href="{link(help_smileys)}">{_help}</a>
		<a href="{link(help_policy, [policy => terms])}">{_'General:terms'}</a>
	</footer>
</body>
</html>