	<div class="login">
		<div class="cat_bar">
			<h3 class="catbg">
				{_'General:login'}
			</h3>
		</div>
		<div class="roundframe noup">
			{if $login_errors}
				<div class="errorbox">
					<ul>
						{foreach $login_errors as $error}
						<li>{$error|noescape}</li>
						{/foreach}
					</ul>
				</div>
			{/if}
			{$form|noescape}
		</div>
	</div>