		{{! Template shown when a reminder has been sent. }}
		<br>
		<div class="tborder login" id="reminder_sent">
			<div class="cat_bar">
				<h3 class="catbg">{{{context.page_title}}}</h3>
			</div>
			<p class="information">{{{context.description}}}</p>
		</div