<input name="{$name}" type="hidden" value="0">
<input name="{$name}" type="checkbox" value="1"{if $required} required{/if}{if $checked} checked{/if} aria-labelledby="element-label-{$name|slugify}" id="element-{$name|slugify}">