/** Basics. */

body, html {
	background: $default-background;
	font: $default-font;
	color: $default-color;
	min-height: 100vh;
}

body, #wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#wrapper {
	width: 100%;
	flex-grow: 5;
}

#content_wrapper {
	margin: 0 auto;
	width: 90%;
	padding: 10px;
	margin-bottom: 3em;
	background: $content-background;
}

a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Define strong as bold, and em as italics
/* Note: in some particular places, strong has been redefined as font-weight: 600; 
/* This gives a better effect for those areas, and will default to bold for fonts which do not support numerical font-weight. */
strong, .strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	color: $default-color;
}

hr {
	border: none;
	margin: 12px 0;
	height: 2px;
	background: #fff;
}

ul.normallist {
	list-style-type: disc;
	padding: 0 0 0 15px;
}

table {
	empty-cells: show;
}

dl {
	overflow: auto;
}