/** BBCODE */

/* Blockquote stylings */
blockquote {
	margin: 0 0 8px 0;
	padding: 6px 10px;
	font-size: small;
}

blockquote cite {
	display: block;
	font-size: 0.9em;
	padding-bottom: 6px;
}

blockquote cite::before {
	color: $default-color;
	font-size: 22px;
	font-style: normal;
	content: '\275D';
	margin-right: 5px;
}

.bbc_standard_quote {
	border: 1px solid $quote-border;
	border-left: 5px solid $quote-border;
	background-color: $quote-bg;
}

.bbc_alternate_quote {
	border: 1px solid $quote-border-alt;
	border-left: 5px solid $quote-border-alt;
	background-color: $quote-bg-alt;
}

/* Let's get a bit more flexibility in font sizes for quotes and code.
   We just need to stop em compounding when elements are nested. */
.bbc_standard_quote .bbc_alternate_quote, .bbc_alternate_quote .bbc_standard_quote, .bbc_standard_quote .bbc_code, .bbc_alternate_quote .bbc_code, .bbc_standard_quote .codeheader, .bbc_alternate_quote .codeheader, .bbc_standard_quote .quoteheader, .bbc_alternate_quote .quoteheader {
	font-size: 1em;
}

/* A code block - maybe PHP ;) */
.bbc_code {
	display: block;
	font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
	font-size: 0.75em;
	background: $quote-bg;
	color: $default-color;
	border: 2px solid $quote-border;
	margin: 1px 0 6px 0;
	padding: 3px 12px;
	overflow: auto;
	white-space: nowrap;
	/* Show a scrollbar after about 6 lines. */
	resize: vertical;
}

/* The "Quote:" and "Code:" header parts... */
.codeheader, .quoteheader {
	color: #666;
	font-size: 0.9em;
	padding: 0 2px;
}

/* For links to change the code stuff... */
.codeoperation {
	font-weight: normal;
}

/* Some BBC tags */
.bbc_link:link, .bbc_link:visited {
	border-bottom: 1px solid lighten($link-color, 10%);
}

.bbc_link:hover {
	text-decoration: none;
	border-bottom: 1px solid $link-color;
}

.bbc_size {
	line-height: 1.4em;
}

.bbc_color a {
	color: inherit;
}

.bbc_img, .atc_img {
	border: 0;
	max-width: 100%;
	height: auto;
}

.bbc_table {
	font: inherit;
	color: inherit;
}

.bbc_table td {
	font: inherit;
	color: inherit;
	vertical-align: top;
}

.bbc_list {
	text-align: left;
	padding: 0 0 0 35px;
	list-style-type: inherit;
}

.bbc_float {
	margin-bottom: 1em;
	/* default max-width to use if none was specified in the BBC */
	max-width: 45%;
}

.bbc_float.floatleft {
	margin-right: 1em;
	clear: left;
}

.bbc_float.floatright {
	margin-left: 1em;
	clear: right;
}

details.bbc_spoiler {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: .5em .5em 0;

	summary {
		font-weight: bold;
		margin: -.5em -.5em 0;
		padding: .5em;
		cursor: pointer;
	}

	&[open] {
		padding: .5em;

		summary {
			border-bottom: 1px solid #aaa;
			margin-bottom: .5em;
		}
	}
}

details.bbc_mature {
	border-top: 1px solid #ffd324;
	border-bottom: 1px solid #ffd324;
	padding: .5em .5em 0;

	summary {
		font-weight: bold;
		margin: -.5em -.5em 0;
		padding: .5em .5em .5em 35px;
		cursor: pointer;

		background: #fff6ca;
		border-top: 1px solid #ffd324;
		border-bottom: 1px solid #ffd324;
		position: relative;
	}

	summary::before {
		width: 16px;
		height: 16px;
		background-image: url("#{$images_url}/icons/main_icons_sprite.png");
		background-image: url("#{$images_url}/icons/main_icons_sprite.png.webp");
		background-repeat: no-repeat;
		background-position: -83px -83px;
		left: 10px;
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -8px;
	}

	&[open] {
		padding: .5em;

		summary {
			border-bottom: 1px solid #ffd324;
			margin-bottom: .5em;
		}
	}
}
