/** Blocks */
.blocktype_recentposts {
	line-height: 1.6em;
	font-size: 0.9em;

	table {
		width: 100%;
	}
}

.block_title {
	.fas, .far, .fab {
		font-size: 16px;
		margin-right: 4px;
	}
}

.blocktype_recentposts .block_content {
	width: 100%;
}

.blocktype_recentposts th {
	text-align: left;
	padding: 4px 8px;
}

.blocktype_recentposts td {
	border-top: 1px solid #eaeaea;
	padding: 4px 8px;
	vertical-align: top;
}

.blocktype_recentposts tr:first-child td {
	border-top: none;
}

.blocktype_recentposts .windowbg {
	background: none;
}

.block:not(.blocktype_multiblock) .block_content {
	line-height: 1.6em;
	padding: 2px 29px;
}

.blocktype_multiblock .sub_bar {
	border-top: 1px solid #ccc;
}

.blocktype_multiblock .block:first-of-type .sub_bar {
	border-top: 0;
}