/** Board listings. */
.board-display {
	&:nth-of-type(even) {
		background: $board-bg-even;
	}
	&:nth-of-type(odd) {
		background: $board-bg-odd;
	}
	
	border: $board-outline;
	border-bottom: none;

	overflow: hidden;

	display: flex;
	align-items: center;
	flex-flow: row wrap;

	.board_icon {
		flex: 0;
	}
	.info {
		flex: 5 1;
	}
	.board_stats {
		flex: 1 0 100px;
		text-align: center;
	}
	.lastpost {
		flex: 3 1;
	}
}

.board-display:last-of-type {
	border-bottom: $board-outline;
}

.board_stats {
	padding: 10px;
	font-size: 0.9em;
}

.board_stats p {
	border-left: 1px solid $primary-border;
	border-right: 1px solid $primary-border;
	text-align: center;
	margin: 3px 0 0;
}

.lastpost {
	font-size: 0.9em;
	white-space: nowrap;
}

.lastpost p {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

@media screen and (min-width: 992px) {
	.board-display {
		.lastpost {
			min-width: 300px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.board-display {
		.lastpost {
			flex: 3;
			min-width: 280px;
			white-space: nowrap;
		}
	}
}

@media screen and (max-width: 767px) {
	.board-display {
		.lastpost {
			flex: 3 1 100%;
			padding: 10px;
		}
		.board_description {
			display: none;
		}
	}
}

@media screen and (max-width: 575px) {
	.board-display {
		.last_poster {
			display: none !important;
		}
	}
}

@media screen and (min-width: 992px) {
	.info .board_stats_inline {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.board-display {
		.board_stats {
			display: none;
		}
		.moderators {
			display: none;
		}
	}

	.info .board_stats_inline {
		margin-bottom: 5px;

		.board_stats_posts, .board_stats_topics {
			display: inline;
		}
		.board_stats_posts::after {
			content: " \2022";
		}
	}
}
