/** The contact page */
#contactform dl.settings {
	max-width: 600px;
	margin: 12px auto 0 auto;
}

#contactform dl.settings dt {
	width: 20%;
}

#contactform dl.settings dd {
	width: 75%;
}

#contactform input[type=text], #contactform input[type=email] {
	width: 100%;
}