/* The footer with copyright links etc. */
footer {
	margin-top: auto;
	padding: 10px calc(5% + 10px);
	background: $tertiary-accent;
	border-top: 3px solid lighten($tertiary-accent, 20%);
	font-size: 0.9em;
	color: $tertiary-accent-contrast;
	text-align: right;
}

footer a {
	color: inherit;
}

footer ul {
	padding: 0 5px;
}

footer li {
	display: inline-block;
}

footer li + li:not(.copyright)::before {
	content: " \2022 ";
	margin: 0 2px;
}

footer .copyright {
	float: left;
}

/* Cookie policy */
#cookie_footer {
	position: fixed;
	bottom: 0;
	background: $primary-accent;
	color: $primary-accent-contrast;
	width: 100%;
	text-align: center;
	z-index: 10;
	border-top: 3px solid lighten($primary-accent, 20%);
}

#cookie_footer .cookie_content {
	padding: 10px 8%;
}

#cookie_footer .cookie_buttons a {
	margin: 10px;
}