/** General form handling */
input, button, select, textarea {
	color: #222;
	font: 13px "Segoe UI", "Helvetica Neue", "Nimbus Sans L", Arial, "Liberation Sans", sans-serif;
	background: #fff;
	outline: none !important;
	border: 1px solid #bbb;
	vertical-align: middle;
	padding: 0.6rem 1.2rem;
}

input, button, select, textarea, .button {
	border: 1px solid $secondary-accent;

	&:hover {
		border: 1px solid lighten($secondary-accent, 15%);
	}
}

input, button, select {
	font-size: 0.9rem;
}

select option {
	padding: 2px 4px;
}

select[size], input[type=checkbox], input[type=radio], input[type=file] {
	height: auto;
}

input:hover, textarea:hover, button:hover, select:hover {
	outline: none !important;
}

textarea:hover {
	background: #fbfbfb;
}

input:focus, textarea:focus, button:focus, select:focus {
	outline: none !important;
}

/* Number inputs don't support size nor width, so let's set a default so [size] can be used */
input[type="number"] {
	padding-right: 0; /* Removes extra white space after arrows in some browsers */
	width: calc(4ch + 15px + 0.8em);
}
input[type="number"][size="2"], input[type="number"][size="1"] {
	width: calc(2ch + 15px + 0.8em);
}
input[type="number"][size="3"] {
	width: calc(3ch + 15px + 0.8em);
}
input[type="number"][size="5"] {
	width: calc(5ch + 15px + 0.8em);
}
input[type="number"][size="6"] {
	width: calc(6ch + 15px + 0.8em);
}

/* Fieldsets are used to group elements. */
fieldset {
	padding: 18px;
	margin: 0 0 6px 0;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
}

fieldset legend {
	font-weight: bold;
	color: #555;
	border: none;
}

/* Give disabled text input elements a different background color. */
input[disabled], select[disabled] {
	background: #eee;
}
input[disabled]:hover, select[disabled]:hover {
	border-color: #bbb;
}

select[disabled] {
	color: #999;
	opacity: 0.6;
}

/* Checkboxes or radio buttons shouldn't have a border around them.
 Some browsers will also render a box-shadow.
 @todo: Any browsers actually render a border? */
input[type=checkbox], input[type=radio] {
	border: none;
	background: none;
	vertical-align: middle;
	box-shadow: none;
}

.valid_input {
	background: #f5fff0;
}

.invalid_input {
	background: #fff0f0;
}

/* Some things for the WYSIWYG editor */
.sceditor-container iframe, .sceditor-container textarea {
	padding: 5px 0 !important;
}

.sceditor-more-button.sceditor-more.button {
    padding: 0 3px !important;
    font: $default-font;
    font-weight: 300;
    margin-top: 10px !important;
    margin-bottom: 10px;
}