/** General form handling */
input, button, select, textarea, .button {
	color: #222;
	font: $default-font;
	background: #fff;
	outline: none !important;
	border: 1px solid #bbb;
	vertical-align: middle;
	padding: 0.6rem 1.2rem;
}

input, button, select, textarea, .button {
	border: 1px solid $button-bg;

	&:hover {
		border: 1px solid $button-hover-bg;
	}
}

body {
	.select2-dropdown {
		background: $menu-bg;
	}
	.select2-container--default {
		.select2-results__option {
			&[aria-selected="true"] {
				color: $sidebar-fg;
				background: $sidebar-bg;
			}
			&--highlighted[aria-selected] {
				background: $sidebar-bg-hover;
			}
		}
	}
}

input, button, select {
	font-size: 0.9rem;
}

select option {
	padding: 2px 4px;
}

select[size], input[type=checkbox], input[type=radio], input[type=file] {
	height: auto;
}

input:hover, textarea:hover, button:hover, select:hover {
	outline: none !important;
}

textarea:hover {
	background: #fbfbfb;
}

input:focus, textarea:focus, button:focus, select:focus {
	outline: none !important;
}

input[type="search"] {
	-webkit-appearance: none;
	appearance: none;
}

/* Number inputs don't support size nor width, so let's set a default so [size] can be used */
input[type="number"] {
	padding-right: 0; /* Removes extra white space after arrows in some browsers */
	width: calc(4ch + 15px + 0.8em);
}
input[type="number"][size="2"], input[type="number"][size="1"] {
	width: calc(2ch + 15px + 0.8em);
}
input[type="number"][size="3"] {
	width: calc(3ch + 15px + 0.8em);
}
input[type="number"][size="5"] {
	width: calc(5ch + 15px + 0.8em);
}
input[type="number"][size="6"] {
	width: calc(6ch + 15px + 0.8em);
}

/* Fieldsets are used to group elements. */
fieldset {
	padding: 18px;
	margin: 0 0 6px 0;
	border: 1px solid $primary-border;
	border-radius: 3px;
}

fieldset legend {
	font-weight: bold;
	color: #555;
	border: none;
}

.login form {
	fieldset {
		padding: 0;

		dl {
			margin-bottom: 25px;
		}

		legend {
			display: block;
			width: 100%;
			background: $primary-accent;
			color: $primary-accent-contrast;
			padding: 6px 12px;
			margin-bottom: 25px;
		}

		&:last-of-type dl {
			margin-bottom: 0;
		}
	}
}

/* Mostly for legacy purposes, e.g. new login form. */
.roundframe {
	fieldset {
		border: none;

		legend {
			display: none;
		}
	}
}

/* Give disabled text input elements a different background color. */
input[disabled], select[disabled] {
	background: #eee;
}
input[disabled]:hover, select[disabled]:hover {
	border-color: #bbb;
}

select[disabled] {
	color: #999;
	opacity: 0.6;
}

/* Checkboxes or radio buttons shouldn't have a border around them.
 Some browsers will also render a box-shadow.
 @todo: Any browsers actually render a border? */
input[type=checkbox], input[type=radio] {
	border: none;
	background: none;
	vertical-align: middle;
	box-shadow: none;
}

input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;

	&::after {
		font-family: "Font Awesome 5 Free";
		content: "\f0c8";
		color: $default-color;
	}

	&:checked::after {
		content: "\f14a";
	}
}

.valid_input {
	background: #f5fff0;
}

.invalid_input {
	background: #fff0f0;
}

/* Buttons should be styled a bit differently, in order to make them look more button'ish. */
.button, .buttonrow > *, input[type="button"], input[type="submit"] {
	display: inline-block;
	cursor: pointer;
	padding: 0.6rem 1.2rem;
	color: $button-fg;
	font-size: 0.9rem;
	font-weight: 300;
	background: $button-bg;
}
.button:hover, .buttonrow > :hover, input[type="button"]:hover, input[type="submit"]:hover {
	text-decoration: none;
	background: $button-hover-bg;
	box-shadow: $button-hover-shadow;
	color: $button-hover-fg;
}

.button.active, .buttonrow > .active, input[type="button"].active, input[type="submit"].active {
	background: $button-active-bg;
	border: $button-active-border;
	color: $button-active-fg;
}
.button.active:hover, .buttonrow > .active:hover, input[type="button"].active:hover, input[type="submit"].active:hover {
	background: $button-active-hover-bg;
	border: $button-active-hover-border;
	color: $button-active-hover-fg;
}

.button, .button_submit, input[type="submit"], input[type="button"], input[type="submit"] {
	text-transform: uppercase;
}

/* Some things for the WYSIWYG editor */
.sceditor-container iframe, .sceditor-container textarea {
	padding: 5px 0 !important;
}

.sceditor-more-button.sceditor-more.button {
	padding: 0 3px !important;
	font: $default-font;
	font-weight: 300;
	margin-top: 10px !important;
	margin-bottom: 10px;
}