/* Styles for the generic menu area. */
.generic_tabs li {
    display: inline-block;
    background: $secondary-list-bg;
}

.generic_tabs li span, .generic_tabs li a {
	padding: 15px;
	display: inline-block;
}

.generic_tabs li.active {
    background: $primary-accent;
    color: $primary-accent-contrast;
}

.generic_menu_sidebar li.active::after {
    position: absolute;
    right: 0;
    border: 10px solid transparent;
    border-left-width: 0;
    display: block;
    content: " ";
    border-right-color: $secondary-list-bg;
    margin-top: -18px;
    margin-right: -10px;
}

.generic_tabs li:not(.active):hover {
    background-color: $menu-bg;
}

.generic_menu_sidebar ul {
    margin-top: 10px;
    width: 100%;
}

.generic_menu_sidebar li {
	margin-bottom: 7px;
}

.generic_menu_sidebar li.active {
    font-weight: 600;
}

.generic_menu_sidebar .heading {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 1.4em;
    opacity: 0.7;
}

.generic_menu_sidebar {
	position: relative;
}

.generic_menu_sidebar li a {
	margin-right: 10px;
}

.generic_menu_container {
	border-top: 15px solid $header-bg;
	background: $menu-bg;
}

.generic_menu_container #admin_content {
	background: $secondary-list-bg;
	padding: 15px;
}