/** Progress bars. */

.progressBar {
	height: 20px;
	margin: 1px;
	background: #F8F8F8;
	border: 1px solid #C5C5C5;
	border-radius: 7px;
	box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.102);
	vertical-align: middle;
}

.progressBar span {
	display: block;
	height: 100%;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	transition: width .4s ease-in-out;
	background-color: #34c2e3;
	background-size: 30px 30px;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	width: 0px;
}

.progress_yellow span {
	background-color: #fecf23;
}

.progress_green span {
	background-color: #a5df41;
}

.progress_red span {
	background-color: #F45D4C;
}

.progress_blue span {
	background-color: #34c2e3;
}

.progress_bar {
	height: 15pt;
	border: 1px solid #dcdcdc;
	background-color: #fff;
	width: 80%;
	margin: 20px auto 0 auto;
	/* Top padding should get rid of the <br /> tags in admin for these bars. */
	position: relative;
	border-radius: 2px;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

.progress_bar .full_bar {
	padding-top: 1pt;
	width: 100%;
	color: #222;
	position: absolute;
	text-align: center;
	font-weight: bold;
	border-radius: 2px;
	z-index: 2;
}

.progress_bar .green_percent {
	height: 15pt;
	background-color: #c1ffc1;
	background-image: linear-gradient(to bottom, #c1ffc1, green);
	border-radius: 2px;
	z-index: 1;
}

.progress_bar .blue_percent {
	height: 15pt;
	background-color: #98b8f4;
	background-image: linear-gradient(to bottom, #98b8f4, blue);
	border-radius: 2px;
	z-index: 1;
}