#other_ships {
	.buttonlist {
		.already_in_timeline {
			display: none;
		}
		.add_to_timeline {
			display: inline;
		}
	}

	.already_in_timeline .buttonlist {
		.already_in_timeline {
			display: inline;
		}
		.add_to_timeline {
			display: none;
		}
	}
}