/** The main sidebar / navigation. */
#sidebar-bars {
	width: 70px;
	position: fixed;
	top: 0;
	z-index: 100;
	font-size: 30px;
	line-height: 70px;
	background: $sidebar-bg;
	color: $sidebar-fg;
	text-align: center;
}

@media screen and (min-width: 100px) {
	#sidebar-bars {
		display: block;
	}
	#sidebar {
		display: none;
		position: absolute;
	}
	#top_section {
		left:70px;
	}

	.top_menu {
		left: -70px;
		top: 70px;
		max-width: 320px;
		min-width: 100px;
	}
	#characters_menu {
		left: -140px;
	}
	.navigation-item #alerts_menu {
		left: -213px;
		right: auto;
		max-width: 320px;
	}
}

#sidebar {
	width: 70px;
	position: fixed;
	background: $sidebar-bg;
	top: 70px;
	bottom: 0;
	z-index: 100;
}

#sidebar.visible-sidebar {
	display: block;
	width: 293px;
	bottom: auto;

	.navigation-item {
		display: inline-block;
	}
}

@media screen and (min-width: 768px) {
	#sidebar-bars {
		display: none;
	}
	#sidebar {
		display: block;
		top: 0;
	}
	#wrapper {
		padding-left:70px;
	}
	.top_menu {
		left: initial;
    	top: inherit;
   		width: inherit !important;
   		min-width: 30em;
	}

	#characters_menu {
		left: 0;
	}
	.navigation-item {
		#alerts_menu {
			left: auto;
			right: 0;
		}
	}
}

.navigation-item > a {
	font-size: 30px;
	line-height: 70px;
	color: $sidebar-fg;
}
.navigation-item {
	text-align: center;
	position: relative;
	width: 70px;
}
.navigation-item.open, #btn-search.open {
	background: $sidebar-bg-open;
}
.navigation-item:hover, #btn-search:hover {
	background: $sidebar-bg-hover;
}

#search_menu {
	left: auto;
	right: 0px;
}

#alerts_menu {
	top: 70px;
	left: auto;
	right: 0;
}

#pm_menu {
	top: 0px;
	left: 70px;
}

.navigation-item .amt {
	background: $sidebar-amt-bg;
	font-size: 13px;
	line-height: 1em;
	padding: $sidebar-amt-padding;
	color: $sidebar-amt-fg;
}

.navigation-item > a > .amt {
	position: absolute;
	top: 45px;
	right: 5px;
}

#sidebar .top_menu .amt {
	float: right;
	margin-right: -2.8em;
	margin-top: 2px;
}

.navigation-item > .top_menu {
	top: 0px;
	left: 70px;
	text-align: left;
}

.top_menu.subitems {
	width: auto;
}

.navigation-item .btn-subitems li {
	text-align: left;
	line-height: 25px;
	padding-left: 10px;
}

.navigation-item .btn-subitems li a {
	display: block;
	white-space: nowrap;
	margin-right: 3em;
}