/** Variable magic. */
$background-color: #e9eef2;
$default-font: 13px "Segoe UI", "Helvetica Neue", "Nimbus Sans L", Arial, "Liberation Sans", sans-serif;

$error-color: red;

$warning-color: yellow;