/** Variable magic. */
$default-background: #e9eef2 !default;
$default-color: #4d4d4d !default;
$default-font: 15px "Segoe UI", "Helvetica Neue", "Nimbus Sans L", Arial, "Liberation Sans", sans-serif !default;
$content-background: #e9eef2 !default;

$link-color: #346 !default;

$primary-accent: #f00 !default;
$primary-accent-contrast: #fff !default;
$primary-accent-dark: darken($primary-accent, 10%) !default;
$primary-accent-light: lighten($primary-accent, 10%) !default;

$secondary-accent: #0f0 !default;
$secondary-accent-contrast: #fff !default;
$secondary-accent-dark: dark($secondary-accent, 10%) !default;
$secondary-accent-light: lighten($primary-accent, 10%) !default;

$tertiary-accent: #00f !default;
$tertiary-accent-contrast: #fff !default;

$primary-list-bg: #f8f8f8 !default;
$secondary-list-bg: #f2f2f2 !default;
$primary-border: #dedede !default;

$content-subject-accent: lighten($primary-accent, 10%) !default;

$sidebar-bg: $secondary-accent !default;
$sidebar-fg: $secondary-accent-contrast !default;
$sidebar-bg-open: lighten($sidebar-bg, 10%);
$sidebar-bg-hover: lighten($sidebar-bg, 20%);

$sidebar-link-color: $tertiary-accent-contrast !default;

$sidebar-amt-fg: $tertiary-accent-contrast !default;
$sidebar-amt-bg: $tertiary-accent !default;
$sidebar-amt-padding: 3px 5px !default;

$menu-bg: #dedede !default;
$menu-bg-dark: #ababab !default;
$menu-fg: $default-color !default;
$menu-fg-link: #000 !default;

$header-bg: $primary-accent !default;
$header-fg: $primary-accent-contrast !default;

$postarea-bg-even: $primary-list-bg !default;
$postarea-bg-odd: $secondary-list-bg !default;

$poster-bg-even: $menu-bg !default;
$poster-bg-odd: $menu-bg !default;

$board-bg-even: $menu-bg !default;
$board-bg-odd: $menu-bg !default;
$board-outline: none;

$topic-bg-even: $menu-bg !default;
$topic-bg-odd: $menu-bg !default;
$topic-outline: none;

$error-color: red !default;

$warning-color: yellow !default;

$sticky-topic-bg: #f2fffb !default;
$unapproved-topic-bg: #fff2f2 !default;
$unapproved-post-bg: #ffcbcb !default;

$poster-fg: red !default;
$post-divider-fg: $primary-border !default;

$quote-border: $primary-accent !default;
$quote-border-alt: $primary-accent-dark !default;
$quote-bg: lighten($primary-accent, 43%) !default;
$quote-bg-alt: lighten($primary-accent-dark, 57%) !default;

$navigation-divider-fg: lighten($primary-accent, 10%) !default;

$quickbutton-link-fg: $default-color !default;
$quickbutton-link-fg-hover: inherit !default;

$button-bg: $secondary-accent !default;
$button-fg: $secondary-accent-contrast !default;

$button-hover-bg: lighten($secondary-accent, 15%) !default;
$button-hover-fg: $secondary-accent-contrast !default;
$button-hover-shadow: 6px 6px 2px rgba(0, 0, 0, 0.2) !default;

$button-active-bg: $primary-accent-dark !default;
$button-active-fg: $primary-accent-contrast !default;
$button-active-border: 1px solid $primary-accent-dark !default;

$button-active-hover-bg: $primary-accent !default;
$button-active-hover-fg: $primary-accent-contrast !default;
$button-active-hover-border: 1px solid $primary-accent !default;

$profile-menu-account-bg: $content-subject-accent !default;
$profile-menu-character-bg: $button-bg !default;