/** Variable magic. */
$default-background: #e9eef2 !default;
$default-color: #4d4d4d !default;
$default-font: 13px "Segoe UI", "Helvetica Neue", "Nimbus Sans L", Arial, "Liberation Sans", sans-serif !default;

$error-color: red;

$warning-color: yellow;

$link-color: #346;
$sidebar-link-color: $link-color;