/** Who's online */

.action_who #lower_pagesection {
	margin-top: 4px;
}

.action_who #lower_pagelinks {
	margin-top: -4px;
}

.action_who select {
	margin-top: -1px !important;
}

span.member.hidden {
	font-style: italic;
}