img.avatar {
	max-width: #{$avatar_max_width}px;
	max-height: #{$avatar_max_height}px;
}

/* 3# Common classes to easy styling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Default font sizes */
.smalltext, tr.smalltext th {
	font-size: 0.9em;
}

.largetext {
	font-size: 1.4em;
}

h3.largetext {
	font-size: large;
}

/* Some common padding styles */
.padding {
	padding: 8px;
}

.main_section, .lower_padding {
	padding-bottom: 6px;
}



/* Some other general classes */
.error, .alert {
	color: red;
}

.notice {
	font-weight: bold;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction {
	color: red;
}

/* Highlighted text - such as search results. */
.highlight {
	font-weight: bold;
	color: #ff7200 !important;
	font-size: 1.1em;
}

.red {
	color: red;
}

.green {
	color: green;
}



.centericon {
	vertical-align: middle;
}

.bold_text {
	font-weight: bold;
}

/* For cases where we want to spotlight something specific, e.g. an amount */
.amt {
	margin-left: 3px;
	padding: 0 5px;
	color: $tertiary-accent-contrast;
	background: $tertiary-accent;
	border-radius: 8px;
}

/* 4# Theme frames and other fixed elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* The top bar. */
#top_section {
	height: 70px;
	background: $secondary-accent;
	position: fixed;
	width: 100%;
	z-index: 100;
}
#top_info > li > a {
	color: $secondary-accent-contrast;
}

#top_section::after {
	content: '';
	display: block;
	clear: both;
}

#characters_menu_top > img.avatar {
	max-height: 64px;
	max-width: 64px;
	margin-right: 7px;
	vertical-align: middle;
}

/* The logo. */
header {
	margin: 0 5%;
	padding: 10px;
}

/* The main title. */
h1.forumtitle {
	font-size: 2.8em;
	font-family: "Tahoma", sans-serif;
	margin-top: 10px;
	float: left;
	font-weight: normal;
}

h1.forumtitle a {
	color: #a85400;
}

/* Even guests need to be aligned */
.welcome {
	padding-left: 10px;
	padding-top: 5px;
}

/* The upper_section */
#upper_section {
	margin-bottom: 1em;
}

/* News section */
#inner_wrap {
	display: flex;
	font-size: 0.9em;
	margin-bottom: 10px;
}
#inner_wrap .time {
	margin-right: 10px;
}
#inner_wrap .news {
	margin-left: auto;
}

#inner_wrap .news h2, #inner_wrap .news p {
	display: inline;
}

/* The content section */
#content_section {
	clear: both;
}

#main_content_section::after {
	content: '';
	display: block;
	clear: both;
}



/* The posting icons */
#postbuttons_upper ul li a span {
	line-height: 19px;
	padding: 0 0 0 6px;
}

.mark_read {
	margin: -5px 0 16px 0;
	text-align: right;
}

.mark_read .buttonlist {
	margin: 0;
	padding: 0;
}

.time-post-separator {
	text-align: center;
	margin: 18px 0;
	font-size: 16pt;
	color: #9a9a9a;
}

/* Fix for quote on reply box */
#post_modify {
	border-radius: 4px;
}

.quickModifyMargin {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#readbuttons_top .pagelinks, #readbuttons .pagelinks {
	padding-bottom: 12px;
	width: 60%;
}

#readbuttons .pagelinks {
	padding-top: 12px;
}

#recent {
	clear: both;
}

/* 11# Common theme elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.roundframe {
	margin: 10px 0 0 0;
	padding: 12px 16px;
	background: $primary-list-bg;
	border: 1px solid $primary-border;
	overflow: auto;
}

.tooltip {
	position: absolute;
	z-index: 999;
	left: -9999px;
	word-wrap: break-word;
	max-width: 350px;
	padding: 6px 9px;
	color: #333;
	background: #fff;
	border: 1px solid $primary-border;
	border-radius: 4px 4px 4px 4px;
}

/* Those collapse and expand icons are wonderful. */
.toggle_up::before, .toggle_down::before {
	width: 17px;
	height: 17px;
	display: inline-block;
	background: url("#{$images_url}/toggle.png") no-repeat 0 0;
	overflow: hidden;
	content: '';
	vertical-align: middle;
	margin: -5px 5px 0 5px;
}

.toggle_down::before {
	background-position: 0 -17px;
}

.collapsed {
	opacity: 0.5;
	transition: 1s;
}

.collapsed:hover {
	opacity: 1;
}

/* Here comes the glory... */
.windowbg:nth-of-type(even) {
	background: $postarea-bg-even;
}

.windowbg:nth-of-type(odd) {
	background: $postarea-bg-odd;
}

.windowbg:nth-of-type(even) .poster {
	background: $poster-bg-even;
}
.windowbg:nth-of-type(odd) .poster {
	background: $poster-bg-odd;
}

.windowbg:nth-of-type(even) .poster .user_info_arrow {
	border-right-color: $postarea-bg-even;
}
.windowbg:nth-of-type(odd) .poster .user_info_arrow {
	border-right-color: $postarea-bg-odd;
}

.windowbg.odd {
	background: $postarea-bg-odd;
}
.windowbg.even {
	background: $postarea-bg-even;
}

.poster .user_info_arrow {
    position: absolute;
    right: 0;
    border: 10px solid transparent;
    border-left-width: 0;
}

.windowbg.chosen {
	border-color: #e09100;
}

.information {
	background: $primary-list-bg;
	overflow: auto;
	padding-bottom: .5em;
	border: 1px solid $primary-border;
	margin: 0 0 10px 0;
	padding: 8px;
}

.information.block_content {
	padding: 0;
}

.generic_list_wrapper .information div {
	background: none;
}

.information a {
	font-weight: bold;
}

p.information img {
	vertical-align: middle;
}

/* Lists with settings use these a lot. */
dl.settings {
	clear: right;
	overflow: auto;
	margin: 0 0 10px 0;
	padding: 5px;
}

dl.settings dt {
	width: 56%;
	float: left;
	margin: 0 0 10px 0;
	clear: both;
}

dl.settings dl dt {
	width: 30%;
}
dl.settings dl dd {
	width: 68%;
}

dl.settings.report dt {
	float: none;
	width: auto;
	margin: 0;
}

dl.settings dt.windowbg {
	width: 98%;
	float: left;
	margin: 0 0 3px 0;
	padding: 0 0 5px 0;
	clear: both;
}

dl.settings dd {
	width: 42%;
	float: right;
	overflow: visible;
	margin: 0 0 3px 0;
}

dl.settings dd.fullwidth {
	width: 100%;
}

dl.settings.report dd {
	overflow: auto;
	margin: 0 0 10px 30px;
	width: auto;
	float: none;
}

dl.settings img {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

/* Posts and personal messages displayed throughout the forum. */
.post {
	overflow: auto;
	line-height: 1.4em;
	padding: 1px 0;
	clear: both;
}

/* GenericList */
.additional_row {
	padding: 6px 0 6px 0;
}

img.sort, .sort {
	margin-bottom: -4px;
	margin-left: 4px;
}

.postbg {
	border-left: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
}

/* 7# Buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



#frmLogin input[type="submit"], #guest_form input[type="submit"], #mergeSelectBoard input[type="submit"] {
	float: none;
	margin-left: inherit;
}

a.button_submit {
	margin-top: 15px;
}

.button.last {
	margin-top: 9px;
}

/* Assortment of backgrounds that are the same as buttons */
.button_submit, .popup_window {
	background: #fff;
	background-image: linear-gradient(to bottom, #E2E9F3 0%, #FFFFFF 70%);
}

/* Well some of them have different gradient effect on hover */
.button_submit:hover {
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E2E9F3 70%);
}

/* Styles for the standard button lists. */
.buttonlist, .buttonrow {
	padding: 5px 0;
	margin: 5px 0;
}

.buttonlist .button + .button, .buttonlist .button + input[type="submit"], .buttonlist input[type="submit"] + input[type="submit"] {
	margin-left: 10px;
}

/* In a .buttonrow, the buttons are joined together */
.buttonrow {
	display: inline-flex;
}
.buttonrow > *:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-color: rgba(255, 255, 255, 0.5);
}
.buttonrow > *:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.buttonrow > *:hover {
	border-top: 1px solid $primary-border;
	border-bottom: 1px solid #9a9a9a;
}

/* The "new" indicator */
.new_posts {
    font-size: 6px;
    color: $tertiary-accent-contrast;
    font-weight: bold;
    line-height: 17px;
    border-radius: 50%;
    background: $tertiary-accent;
    padding: 3px 7px;
    margin-right: 5px;
}

.children .new_posts {
	margin-left: 5px;
}

.jump_buttons {
	position: fixed;
	right: 20px;
	bottom: 15px;
	width: 40px;

	a {
		height: 40px;
		background: $primary-accent;
		color: $primary-accent-contrast;
		display: inline-block;
		margin-top: 5px;

		&:hover {
			background: $secondary-accent;
		}

		&.go_up::before, &.go_down::before {
			width: 40px;
			height: 40px;
			font-size: 30px;
			line-height: 40px;
			display: inline-block;
			text-align: center;

			content: "\f106";
			font-family: "Font Awesome 5 Free";
			font-weight: 700;
		}

		&.go_down::before {
			content: "\f107";
		}
	}

	&.bottom .go_down, &.top .go_up {
		display: none;
	}
}

/* 8# Menus and dropdown menus
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* The basics */
.dropmenu, #top_info {
	font-size: 0.9em;
	position: relative;
}

.dropmenu ul, .top_menu {
	display: none;
	position: absolute;
	z-index: 90;
	width: 18.2em;
}

.dropmenu ul, .top_menu {
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.dropmenu li:hover > ul, .dropmenu li:focus-within > ul, .top_menu.visible,
.dropmenu ul:hover {
	display: block;
}

.dropmenu ul li {
	position: relative;
}

.dropmenu ul ul {
	left: calc(100% - 0.4em);
	top: 0;
}

/* Now let's make it pretty */
.dropmenu > li, #top_info > li {
	display: inline-block;
}
#top_info > li {
	vertical-align: middle;
	position: relative;
}

.dropmenu ul, .top_menu {
	padding: 0.4em;
	border: 1px solid $primary-border;
}

.dropmenu a {
	padding: 4px 7px 3px;
	display: block;
	border: 1px solid transparent;
}

#top_info > li > a {
	padding: 0 10px;
	display:block;
	line-height: 70px;
	text-decoration: none;
}

#top_info > li > a.open {
	background: $sidebar-bg-open;
}
#top_info > li > a:hover {
	background: $sidebar-bg-hover;
}

/* Menu and top_section backgrounds */
.dropmenu ul,
.dropmenu li li a:focus,
.dropmenu li li a:hover,
.top_menu {
	background: $menu-bg;
}

.top_menu a {
	color: $menu-fg-link;
	text-decoration: underline;

	&:hover {
		color: $tertiary-accent;
	}
}
.top_menu a.button {
	color: $secondary-accent-contrast;
	text-decoration: none;
}

/* Level 1 hover effects. */
.dropmenu > li > a:hover,
.dropmenu > li:focus-within > a, .dropmenu > li:hover > a,
.dropmenu > li > a:focus {
	background: #597b9f;
	border: 1px solid #4a6b8c;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

/* Level 1 active button. @deprecated? */
.dropmenu li a.active {
	background: #ffa500;
	color: #fff;
	font-weight: bold;
	border: 1px solid #e09100;
}

.dropmenu li a.active:hover, .dropmenu li a.active:focus-within {
	color: $default-color;
}

.dropmenu .active .amt, #top_info .active .amt {
	color: inherit;
	background: rgba(0, 0, 0, 0.25);
}

/* 2nd level and up */
.dropmenu li li a {
	border: 1px solid transparent;
	padding: 5px 8px;
	color: $link-color;
}

.dropmenu li li a:hover, .dropmenu li li a:focus {
	color: $menu-fg-link;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.2);
}

.dropmenu li li.subsections > a::after {
	position: absolute;
	padding: 5px 0;
	right: 10px;
	font: 83.33%/150% Arial, sans-serif;
	content: '\25ba';
}

/* The profile/pm menus are declared off .dropmenu li ul for consistency but have other characteristics. */
.top_menu {
	width: 25em;
}

.top_menu .login {
	width: 100%;
}

.top_menu .login dt {
	text-align: left;
	width: 55%;
}

.top_menu .login dd {
	width: 43%;
}

.top_menu .login input {
	width: 90%;
}

/* Highlighting of current section */
.dropmenu li li a.chosen {
	font-weight: bold;
}

.generic_menu {
	margin: 5px 0;
}

.generic_menu_sidebar li {
	padding-left: 15px;
}

.generic_menu_sidebar h3.catbg {
	font-size: 0.8em;
	font-weight: normal;
}

.generic_menu_sidebar .windowbg {
	padding: 4px;
	font-size: 0.8em;
}

.generic_menu_sidebar .sidebar_area {
	margin-bottom: 1em;
}

.generic_menu_sidebar .chosen {
	background: url("#{$images_url}/selected.png") no-repeat center left;
}

/* User information. */
@media screen and (max-width: 575px) {
	#characters_menu_top {
		width: 70px;
		text-align: center;

	 	&> img.avatar {
	 		margin-right: 0;
	 	}

		&::after {
			content: ' \25BC';
		    position: absolute;
		    right: 5px;
		    top: 45px;
		    border-radius: 8px;
			background: $sidebar-amt-bg;
			font-size: 13px;
			line-height: 1em;
			padding: $sidebar-amt-padding;
			color: $sidebar-amt-fg;
		}
	}
}
@media screen and (min-width: 576px) {
	#characters_menu_top::after {
		content: ' \25BC';
	}
}

.top_menu.scrollable .no_unread {
	margin-top: 5px;
	text-align: center;
}

.top_menu.scrollable .unread:hover {
	background: $menu-bg-dark;
}

.top_menu.scrollable .sender, #alerts .windowbg .sender {
	width: 40px;
	height: 40px;
	text-align: center;
	display: inline-block;
}

#alerts .windowbg .sender {
	margin: 0 10px;
}

.top_menu.scrollable .avatar, #alerts .windowbg .avatar {
	margin: 4px;
	max-width: 40px;
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

#alerts .windowbg .avatar {
	margin: 0;
}

#pm_menu .subject {
	font-weight: bold;
}

/* Fixes bug with border-box on scrollable js */
.scrollable, .scrollable * {
	box-sizing: content-box;
}

/* The extra menu rows for admin sections, etc. */
#adm_submenus {
	margin: 0 0 6px 0;
	overflow: hidden;
}

/* The quickbuttons */
.quickbuttons {
	margin-top: 11px;
	clear: right;
	float: right;
	font-size: 0.9em;
}

.quickbuttons li {
	color: $quickbutton-link-fg;
	padding: 0;
	position: relative;
}

.quickbuttons li a {
	padding: 3px 5px;
	display: block;
}

.quickbuttons li a {
	text-decoration: none;
	color: $quickbutton-link-fg;
}

.quickbuttons li a:hover {
	text-decoration: underline;
	color: $quickbutton-link-fg-hover;
}

.quickbuttons > li > a {
	border: none;
}

.quickbuttons > li > a:hover, .quickbuttons > li > a:focus,
.quickbuttons > li:focus-within > a, .quickbuttons > li:hover > a {
	color: inherit;
	background: inherit;
	border: none;
}

.quickbuttons ul {
	top: 100%;
	right: 0;
	width: 12em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.quickbuttons ul ul {
	left: 100%;
	top: 0;
	right: unset;
	border-top-right-radius: 4px;
}

#recent .quickbuttons {
    clear: initial;
    margin-top: 0;
    padding-bottom: 3px;
}

/* 9# Titles and categories
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.cat_bar {
	background: $primary-accent;
	color: $primary-accent-contrast;
	padding: 0;
}

.cat_bar h3 {
	padding: 8px 12px 6px 12px;
}

.cat_bar strong, .cat_bar a {
	color: $primary-accent-contrast;
}

/* Styles for rounded headers. */
.cat_bar .desc {
	color: $primary-accent-contrast;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: normal;
	background: rgba(0,0,0,0.2);
	padding: 10px;
}

h3.catbg {
	overflow: hidden;
	font-size: 1.6em;
	font-family: "Tahoma", sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	padding: 8px;
	background: none;
}

h3.catbg, h3.catbg a:link, h3.catbg a:visited, h3.catbg a:hover {
	color: $primary-accent-contrast;
}

h3.catbg a:hover {
	text-decoration: none;
}

h3.catbg .icon {
	vertical-align: middle;
	margin: 0 5px 0 0;
}

/* Titlebar & Subbar */
.title_bar {
	background: $secondary-accent-light;
	color: $secondary-accent-contrast;
	padding: 8px;
	margin: 5px 0 0 0;

	a, a:visited {
		color: $secondary-accent-contrast;
	}
}

.title_bar:not(.topic-header) .moderation input {
	margin-right: -8px; /* Fix for 8px padding on left */
}

.sub_bar {
	background: $primary-accent;
	clear: both;
}

h3.titlebg, h4.titlebg, .titlebg, h3.subbg, h4.subbg, .subbg {
	background: none;
	color: $secondary-accent-contrast;
	font-family: "Tahoma", sans-serif;
	font-weight: bold;
	overflow: hidden;
	padding: 6px 12px 5px 12px;
}

.titlebg a, .subbg a {
	background: none;
	color: $secondary-accent-contrast;
	text-decoration: none;
}

/* 10# Tables; Because they deserve some love, too
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* General table class */
table.table_grid {
	border-collapse: collapse;
	margin: 0px 0 5px 0;
	width: 100%;
}

table.table_grid td {
	padding: 3px;
}

/* Some predefined widths (mostly for tables) */
.table_grid.half_content, .half_table {
	width: 50%;
}

.equal_table {
	width: 33%;
}

.quarter_table {
	width: 25%;
}

.small_table {
	width: 10%;
}

.table_icon {
	width: 5%;
}

.title_bar th, .cat_bar th {
	padding: 4px 8px;
}

.title_bar .sort_down, .title_bar .sort_up {
	margin: -3px 0 0 2px;
}

/* table_grid styles for Profile > Show Permissions. */
#permissions table.table_grid td {
	padding: 5px 10px;
	cursor: default;
}

tr.windowbg td, .table_grid tr td {
	padding: 4px 8px;
}

.table_grid tr.windowbg td.centercol {
	text-align: center;
}

/* 12# Information boxes for warnings and other messages
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#fatal_error {
	width: 80%;
	margin: auto;
}

.errorbox::before, .noticebox::before, .infobox::before {
	width: 16px;
	height: 16px;
	background-image: url("#{$images_url}/icons/main_icons_sprite.png");
	background-image: url("#{$images_url}/icons/main_icons_sprite.png.webp");
	background-repeat: no-repeat;
	background-position: -57px -83px;
	left: 10px;
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.errorbox, .noticebox, .infobox {
	padding: 7px 10px 7px 35px;
	margin-bottom: 12px;
	position: relative;
}

.errorbox {
	background-color: #fee;
	border-top: 2px solid #c34;
	border-bottom: 2px solid #c34;
}

.errorbox h3 {
	padding: 0;
	margin: 0;
	font-size: 1.1em;
	text-decoration: underline;
}

.errorbox p {
	margin: 12px 0 0 0;
}

.errorbox p.alert {
	padding: 0;
	margin: 0 4px 0 0;
	float: left;
	width: 12px;
	font-size: 1.5em;
}

.errorbox span {
	text-decoration: underline;
}

.noticebox::before {
	background-position: -83px -83px;
}

.infobox::before {
	background-position: -161px -83px;
}

.noticebox {
	color: #666;
	background: #fff6ca;
	border-top: 1px solid #ffd324;
	border-bottom: 1px solid #ffd324;
}

.infobox {
	color: #222;
	background: #cfc;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
}

.descbox {
	padding: 7px 10px 7px 10px;
	border: 1px solid #c5c5c5;
	margin: 6px 0;
}

/* 13# Popup windows
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.popup_container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(40, 64, 80, 0.5);
	z-index: 5;
}

.popup_window {
	position: relative;
	width: 480px;
	z-index: 99;
	padding: 0 6px 6px 6px;
	border: 1px solid $secondary-accent-light;
	border-radius: 7px 7px 3px 3px;
	overflow: visible !important;
	background: $secondary-accent;
	top: 15%;
	margin: 0 auto;
}

.popup_heading {
	margin: 0;
	padding: 10px 8px;
	color: #bf6900;
	background: none;
}

.popup_content {
	color: $default-color;
	line-height: 1.6em;
	max-height: 30em;
	overflow: auto;
	margin: 0;
	padding: 10px 8px;
	border: 1px solid $primary-border;
	border-radius: 6px 6px 2px 2px;
}

.main_icons.hide_popup {
	float: right;
}

.popup_heading .icon {
	vertical-align: middle;
	margin: -4px 4px 0 0;
}

/* Deprecated? */
body#help_popup {
	padding: 12px;
}

/* 14# Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.pagesection {
	font-size: 0.9em;
	padding: 2px 0;
	margin: 0;
	clear: both;
}

.pages::after, .jump_to::after, .code::after {
	content: ': ';
}

#main_content_section .pagesection {
	margin: 4px 0 0 0;
}

.pagelinks {
	margin: 8px 0 0 0;
}

.pagelinks p {
	display: inline;
}

.navPages {
	padding: 0 1px;

	&.previous_page, &.next_page {
		border: 8px solid transparent;
	    width: 0;
	    height: 0;
	    display: inline-block;
	    vertical-align: middle;
	}
	&.previous_page {
		border-right-color: $primary-accent;
		margin-left: -5px;
		margin-right: 5px;
	}
	&.next_page {
		border-left-color: $primary-accent;
		margin-left: 5px;
		margin-right: -5px;
	}
}

.expand_pages {
	font-weight: bold;
	cursor: pointer;
}

.current_page {
	color: $poster-fg;
	font-family: verdana, sans-serif;
	font-weight: bold;
}

.current_page::before, .codeoperation::before {
	content: '[';
}

.current_page::after, .codeoperation::after {
	content: ']';
}

/* The jump to box */
#display_jump_to {
	padding: 11px 5px 5px 0;
	float: right;
}

#message_index_jump_to_select {
	font-size: 1em;
}

/* The navigation list (i.e. linktree) */
#main_content_section .navigate_section {
	clear: both;
	margin-top: 8px;
}

.navigate_section ul {
	padding: 5px 10px 6px;
	font-size: 0.9em;
	overflow: hidden;
	border: 1px solid $primary-border;
	border-radius: 2px;
}

.navigate_section ul li {
	display: inline-block;
}

.navigate_section ul li .dividers {
	color: $navigation-divider-fg;
	font: 83.33%/150% Arial, sans-serif;
	padding: 0 2px 0 4px;
}

/* "Unread posts" and "New replies" links */
.navigate_section .unread_links {
	float: right;
}

.navigate_section .unread_links a:not(:last-child) {
	margin-right: 10px;
}

.topic_pages {
	font-size: 0.75em;
	margin: 0 0 0 5px;
}

.topic_pages::before {
	content: ' «';
}

.topic_pages::after {
	content: ' »';
}


/* 16# BBC and other post-related styling
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* 17# Boards
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* This place covers board places (boardindex-messageindex) */
h3 .collapse {
	float: right;
	margin: 4px 4px 0 0;
}

#messageindex {
	clear: both;
}

.board_icon a {
	background: url("#{$images_url}/boardicons.png") no-repeat 0 0;
	display: inline-block;
	width: 45px;
	height: 45px;
}

.board_icon a.board_on2 {
	background-position: -45px 0;
}

.board_icon a.board_off {
	background-position: 0 -45px;
}

.board_icon a.board_redirect {
	background-position: -45px -45px;
}

.board_icon {
	width: 5%;
	text-align: center;
	padding: 8px 0 0 0;
	min-width: 60px;
}

.info {
	width: 55%;
}

.info .subject {
	font-weight: 600;
	font-size: 1.1em;
	color: $content-subject-accent;
}

.board_icon, .info, .board_stats, .lastpost {
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lastpost img.avatar {
	max-width: 40px;
	max-height: 40px;
}

.info img.avatar {
	max-width: 40px;
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.info .first_poster, {
	display: inline-block;
	width: 65px; /* 40px for avatar, 10px either side for its padding, plus space for the overlay icon */
	text-align: center;
}

.lastpost .last_poster {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right: 10px;
}

.info img.avatar.participation {
	max-width: 20px;
	max-height: 20px;
	vertical-align: bottom;
	margin-bottom: 5px;
	margin-left: -30px;
	margin-top: 0;
}

.info .msg_container {
	display: inline-block;
	vertical-align: middle;
}

.main_container {
	margin-bottom: 20px;
}

.up_contain {
	overflow: hidden;
	border: 1px solid $primary-border;
	margin-bottom: 2px;
}

/* Sub-boards */
.children {
	padding: 7px 0;
}

.children p {
	font-size: 0.9em;
}

.children > p > span::after {
	content: ', ';
}

.children > p > span:last-of-type::after {
	content: '';
}

/* Sub-boards columns */
.children {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.3em;
}
.children li {
	min-width: 144px;
	margin-right: 8px;
}

.children.columns_2 li {
	width: 49%;
}

.children.columns_3 li {
	width: 32%;
}

.children.columns_4 li {
	width: 23%;
}

.children li:not(:last-child) {
	margin-bottom: 5px;
}

p.moderators {
	font-size: 0.9em;
	font-weight: bold;
}

/* 18# Topic lists (Messageindex, etc)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Start with description and other things */
#description_board {
	padding: 8px 10px;
	border-radius: 6px 6px 0 0;
	border-bottom: none;
}

#description_board h3, #description_board p {
	display: inline-block;
}

/* Topic list */
#topic_header {
	margin: 0;
	border-radius: 0;
}

#topic_header div {
	font-weight: bold;
	font-size: 1em;
	padding: 0;
}

#topic_container .windowbg {
	border: 1px solid $primary-border;
	border-top: none;
}

#topic_container .info, #topic_container .windowbg, #topic_container .board_stats, #topic_container .lastpost {
	border-radius: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.icons, #messageindex .board_stats p, .lastpost p, #unread .board_statsS {
	border: none;
}

.moderation {
	display: inline-block;
	min-width: 35px;
	width: 3%;
	vertical-align: middle;
	text-align: right;
}

/* Quick moderation selects and submit */
#quick_actions {
	padding: 4px 0;
}

/* Investigate default select and button sizing. Something is slightly off there.*/
input[type="submit"].qaction {
	margin: 1px 4px 0 4px;
}

/* Icons and jump to */
.generic_list_wrapper, .windowbg, #forumposts .approvebg {
	background: $unapproved-post-bg;
	margin: 12px 0 0 0;
	padding: 12px 16px;
	overflow: auto;
}

/* Special treatment for #forumposts area */
#forumposts .windowbg, #forumposts .approvebg {
	overflow: visible;
}

/* Sticky topics get a different background */
.windowbg.sticky {
	background: $sticky-topic-bg;
}

/* Awaiting approval is a bit special, topics first */
.windowbg.approvetopic, .information.approvetopic {
	background: $unapproved-topic-bg;
}

/* Unapproved posts in approved topics */
.windowbg.approvepost {
	background: $unapproved-post-bg;
}

.generic_list_wrapper .additional_row {
	margin: 0;
	padding: 5px 0;
	border-radius: 0;
}

.generic_list_wrapper table.table_grid {
	border-bottom: 1px solid #9a9a9a;
}

.topic_details .smalltext {
	font-size: 0.9em;
}

#postmodify #message {
	width: 100%;
}

#postmodify .lastedit {
	font-weight: bold;
}

/* Colors for background of posts requiring approval */
#forumposts .approvebg {
	color: #222;
	background: $unapproved-topic-bg;
}

#forumposts .approvebg:nth-of-type(odd) {
	background: $unapproved-post-bg;
}

/* 19# Topics (Display)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Poll question */
#poll {
	overflow: hidden;
}

/* Poll vote options */
#poll_options ul.options li {
	padding: 6px 0 6px 25px;
}

/* Poll results */
#poll_options dl.options {
	padding: 12px 0 12px 25px;
	line-height: 1.4em;
}

#poll_options dl.options dt {
	padding: 4px 0;
	width: 30%;
	max-width: 30em;
	float: left;
	margin: 0;
	clear: left;
}

#poll_options dl.options .voted {
	font-weight: bold;
}

#poll_options dl.options dd {
	width: 60%;
	max-width: 45em;
	float: left;
	margin: 0 0 4px 0;
	padding: 0;
	line-height: 1.4em;
	min-height: 1.4em;
	background: #fff;
	border: 1px solid #9a9a9a;
	border-radius: 2px;
	position: relative;
}

/* Absolute positioning stops these breaking the bars on narrow screens. */
#poll_options dl.options .percentage {
	display: block;
	float: right;
	margin: -2px;
	padding: 0 2px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background: none;
	white-space: pre;
}

/* Poll notices */
#poll_options p {
	margin: 0 18px 2px 18px;
	padding: 0 6px 6px 6px;
}

div#pollmoderation {
	margin: 0;
	padding: 0;
	overflow: auto;
}

/* Edit poll section. */
#edit_poll dl.poll_options dt {
	width: 33%;
}

#edit_poll dl.poll_options dd {
	width: 65%;
}

/* On to the posts */
#forumposts {
	clear: both;
	margin: 8px 0 0 0;
}

#forumposts .cat_bar {
	margin: 0 0 -4px 0;
}

/* Topic information */
#forumposts .catbg img {
	margin: 0 4px -2px 0;
}

#forumposts .catbg span {
	white-space: pre;
	/* Specific sizing for clarity without ClearType. */
	font-size: 0.818em;
	font-weight: normal;
	padding: 2px 0;
}

.post_wrapper {
	margin: -12px -16px; /* replaces padding set on windowbg */
	display: flex;
}

/* Poster details and list of items */
.poster {
	padding: 12px;
	word-break: hyphenate;
	word-wrap: break-word;
	flex: 0 0 auto;
	width: calc(#{$avatar_max_width}px + 70px);
	position: relative;
}

.poster h4 {
	font-size: 1.2em;
}

.poster h4, .poster h4 a, .poster li:hover h4 a, .poster h4 a:hover .poster li h4 a, .poster h4 a:focus {
	margin: 0;
	padding: 0;
	color: $poster-fg;
}

.poster .profile .profile_icons li, .poster .im_icons li {
	display: table-cell;
	padding-right: 5px;
}

/* The visible stuff below the avatar. */
.user_info > li {
	margin: 3px auto 0 auto;
	width: #{$avatar_max_width}px;
}

.user_info > li.avatar {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.poster li.membergroup {
	font-weight: bold;
}

/* @todo Re-code this a bit to give background on anchor. */
.poster li.poster_online, .poster li.poster_online:hover {
	padding: 1px 1px 1px 1px;
	margin: 3px 10px;
}

.poster li.poster_online a {
	color: #C06002;
	line-height: 1.6em;
}

.poster li.poster_online:hover, .poster li.poster_online:hover a {
	text-decoration: underline;
}

.poster li.warning a img {
	vertical-align: bottom;
	padding: 0 2px;
}

.poster img {
	vertical-align: middle;
}

.postarea {
	flex: 1 1 auto;
	padding: 12px;
	width: calc(100% - 200px)
}

.postarea div.flow_hidden {
	width: 100%;
}

@media screen and (max-width: 767px) {
	#forumposts .post_wrapper, #quickReplyOptions .post_wrapper {
		display: block;

		.poster {
			width: 100%;

			h4 {
				.on, .off {
					display: none;
				}

				a {
					position: absolute;
					left: 70px; /* 50px for the avatar + 10px padding either side. */
				}
			}

			.user_info {
				li.avatar {
					margin: 0 0 10px 0;
					display: inline-block;
					width: 50px;
					height: 50px;

					a {

						text-align: center;
						display: inline-block;

						img {
							max-width: 50px;
							max-height: 50px;
						}
					}
				}

				li.icons {
					display: none;
				}

				li.membergroup {
					display: block;
					position: absolute;
					left: 70px;
					top: 30px;
				}

				li.postcount {
					display: none;
				}

				li.profile {
					display: none;
				}

				li.im_icons {
					display: none;
				}

				li.custom {
					display: none;
				}
			}

			.user_info_arrow {
				border: 10px solid transparent;
				left: 28px;
				bottom: 0;
				right: auto;
			}
		}

		.postarea {
			width: 100%;
		}
	}

	#quickReplyOptions .post_wrapper {
		h4 {
			position: absolute;
			left: 70px;
		}

		li.avatar {
			width: 50px;
			height: 50px;
			text-align: center;
			display: inline-block;

			img {
				max-width: 50px;
				max-height: 50px;
			}
		}

	}

	#forumposts, #quickReplyOptions {
		.windowbg:nth-of-type(odd) .poster .user_info_arrow {
			border-bottom-color: $postarea-bg-odd;
		}

		.windowbg:nth-of-type(even) .poster .user_info_arrow {
			border-bottom-color: $postarea-bg-even;
		}
	}
}

.moderatorbar {
	clear: right;
}

.keyinfo h5 {
	padding: 1px 0 5px 0;
	line-height: 1.5em;
	font-size: 0.9em;
}

.keyinfo h5 a, .keyinfo h5 a strong {
	color: $poster-fg;
}

.keyinfo h5 a.floatright {
	padding: 0 12px 0 0;
	/* Deprecated? */
}

.keyinfo h5 .modified {
	color: $link-color;
	font-weight: normal;
	font-style: italic;
	padding: 2px 4px 0 4px;
}

#reason::before {
	content: ' - ';
}

.subject_title a {
	font-size: 0.9em;
	color: #333;
	font-weight: bold;
}

.subject_hidden a {
	display: none;
}

.page_number {
	font-weight: bold;
	opacity: 0.4;
	padding: 2px 0 0 4px;
}

.inner {
	padding: 7px 8px 2px 2px;
	margin: 0;
	border-top: 1px solid $post-divider-fg;
	min-height: 85px;
	word-break: hyphenate;
	word-wrap: break-word;
}

img.smiley {
	vertical-align: bottom;
}

.attachments {
	padding: 12px 0 0 0;
}

.attached {
	padding: 0 6px 8px 6px;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.attachments_top {
	margin: 0 auto;
	text-align: center;
}

.attachments hr {
	clear: both;
	margin: 12px 0;
}

/* Separator of posts. More useful in the print stylesheet. */
#forumposts .post_separator {
	display: none;
}

/* Next and previous topic links */
.nextlinks {
	text-transform: capitalize;
}

/* Quick reply area. */
#quickreplybox {
	clear: both;
}

#quickReplyExpand {
	float: right;
	margin: 2px 2px 0 2px;
}

/* Edit post section */
#post_header {
	padding: 6px;
	overflow: hidden;
}

#post_header dt {
	float: left;
	padding: 0;
	width: 15%;
	margin: 6px 0 0 0;
	font-weight: bold;
}

#post_header dd {
	float: left;
	padding: 0;
	width: 83%;
	margin: 4px 0;
}

#post_header img {
	vertical-align: middle;
}

ul.post_options {
	margin: 0 0 0 12px;
	padding: 0;
	overflow: hidden;
}

ul.post_options li {
	margin: 2px 0;
	width: 49%;
	float: left;
}

#quick_edit_body_container textarea, .move_topic textarea, dd textarea {
	width: 100%;
	min-height: 100px;
}

dd.invites {
	img {
		max-width: 40px;
		max-height: 40px;
		vertical-align: middle;
	}
}

/* 20# The "Post" page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#postAdditionalOptionsHeader {
	margin-top: 0.5em;
}

#postAdditionalOptions {
	overflow: hidden;
}

#postMoreOptions, #postAttachment, #postAttachment2 {
	border-top: 1px solid $primary-border;
	margin: -1px 0 0 0;
	padding: 10px;
}

#postAttachment dd {
	margin: 2px 12px;
}

#postAttachment2 dd {
	margin: 4px 12px;
}

#postAttachment dd {
	width: 45%;
	float: left;
}

#postAttachment dt, #postAttachment2 dt {
	font-weight: bold;
}

#postDraftOptions {
	background: $primary-list-bg;
	border: 1px solid #9a9a9a;
	border-left: 1px solid #bbb;
	border-top: none;
	border-radius: 0 0 4px 4px;
}

#postDraftOptions .settings dd, #postDraftOptions .settings dt {
	width: 50%;
	border-top: 1px solid #e4e4e4;
	padding: 5px 10px;
	margin: 0;
}

#postDraftOptions .settings dd:first-of-type, #postDraftOptions .settings dt:first-child {
	border-top: none;
}

#postDraftOptions .settings strong {
	color: #555;
}

#shortcuts {
	padding: 12px 0;
}

#post_confirm_buttons .smalltext {
	padding: 0 10px;
}

#post_confirm_buttons {
	float: right;
}

#post_confirm_buttons .button_submit, #post_confirm_buttons input[type="submit"] {
	float: none;
}

.post_verification {
	margin-top: 6px;
}

.post_verification #verification_control {
	margin: 4px 0 4px 12px;
}

/* The BBC buttons */
#bbcBox_message {
	margin: 10px 6px;
}

#bbcBox_message div {
	margin: 2px 0;
	vertical-align: top;
}

#bbcBox_message div img {
	margin: 0 1px 0 0;
	vertical-align: top;
}

#bbcBox_message select {
	margin: 0 2px;
}

/* The smiley strip */
#smileyBox_message {
	margin: 6px;
}

/* Events */
.edit_event {
	margin: 0 10px;
	vertical-align: top;
}

/* 21# Signatures
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* You might add max-height here ;) */
.signature, .attachments, .under_message, .custom_fields_above_signature, .custom_fields_below_signature {
	width: 100%;
	overflow: auto;
	clear: right;
	padding: 12px 0 3px 0;
	border-top: 1px solid $post-divider-fg;
	line-height: 1.4em;
	font-size: 0.9em;
}

.under_message {
	overflow: visible;
}

.under_message .report_link {
	margin-left: 10px;
}

/* 22# Attachments
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.dz-image-preview {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

#au-previews div.descbox > div, #au-previews div.errorbox > div, #au-previews div.infobox > div {
	padding: 10px;
}

#au-previews .attach-preview {
	flex: 0 0 auto;
	width: 170px;
}

#au-previews .attach-info {
	flex: 1 1 auto;
	width: 250px;
}

#au-previews .attach-ui {
	min-height: 36px;
}

input[name="attachBBC"] {
	width: 100%;
	margin-top: 10px;
}

.attach-info .progressBar, .attach-info .attached_BBC, a#attach-cancelAll, a#attach-uploadAll {
	display: none;
}

.attached_BBC_width_height label {
	min-width: 100px;
	display: inline-block;
}

.attached_BBC_width, .attached_BBC_height {
	margin: 10px 1em 0 0;
	display: inline-block;
}

.attach-info input[type="number"] {
	width: 5em;
}

#attachUpload {
	min-height: 50px;
}

#total-progress {
	width: 50%;
	display: none;
}

#maxFiles_progress, #maxFiles_progress_text {
	display: none;
}

/* 23# Personal messages
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#personal_messages h3 span#author, #personal_messages h3 span#topic_title {
	float: left;
}

#personal_messages h3 span#author {
	margin: 0 0 0 6px;
}

#personal_messages h3 span#topic_title {
	margin: 0 0 0 9em;
}

#personal_messages div.labels {
	padding: 0 12px 0 0;
}

#personal_messages .capacity_bar {
	background: #f0f4f7;
	display: block;
	margin: 6px 0 0 12px;
	height: 12px;
	border: 1px solid #adadad;
	width: 10em;
}

#personal_messages .capacity_bar span {
	border-right: 1px solid #adadad;
	display: block;
	height: 10px;
}

#personal_messages .capacity_bar span.empty {
	background: #a6d69d;
}

#personal_messages .capacity_bar span.filled {
	background: #eea800;
}

#personal_messages .capacity_bar span.full {
	background: #f10909;
}

#personal_messages .reportlinks {
	padding: 6px 1.3em;
}

#searchLabelsExpand li {
	padding: 4px 6px;
}

#manrules div.righttext {
	padding: 4px 1px;
}

dl.addrules dt.floatleft {
	width: 15em;
	color: #333;
	padding: 0 15px 6px 15px;
}

#addrule fieldset {
	clear: both;
}

#to_item_list_container div {
	float: left;
	margin-right: 10px;
}

.unread_pm {
	background: #CFC;
}

.pm_info {
	padding-bottom: 12px;
}

span.pm_label {
	border: 1px solid #dedede;
	font-size: 0.9em;
	margin-left: 5px;
	padding: 2px;
}

/* 24# The profile section and character goodies
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* The basic user info on the left */

@media screen and (min-width: 992px) {
	#basicinfo {
		width: 20%;
		float: left;
	}

	#detailedinfo {
		width: 79.5%;
		float: right;
	}

	#detailedinfo dl, #tracking dl {
		clear: right;
		overflow: auto;
		margin: 0 0 18px 0;
		padding: 0 0 15px 0;
		border-bottom: 1px #ccc solid;
	}

	#detailedinfo dt, #tracking dt {
		width: 35%;
		float: left;
		margin: 0 0 3px 0;
		padding: 0;
		font-weight: bold;
		color: $default-color;
		clear: both;
	}

	#detailedinfo dd, #tracking dd {
		width: 65%;
		float: left;
		margin: 0 0 3px 0;
		padding: 0;
	}
}

#basicinfo h4 {
	font-size: 1.4em;
	font-weight: 100;
	white-space: pre-wrap;
	overflow: hidden;
}

#basicinfo h4 span.position {
	font-size: 0.8em;
	font-weight: 100;
	display: block;
}

#basicinfo img.avatar {
	display: block;
	margin: 10px 0 0 0;
}

#basicinfo ul {
	list-style-type: none;
	margin: 10px 0 0 0;
}

#basicinfo ul:not(.user_info) li {
	display: block;
	float: left;
	margin-right: 5px;
	height: 20px;
}

#basicinfo #userstatus {
	display: block;
	clear: both;
	margin-top: 6px;
}

#basicinfo #userstatus img {
	vertical-align: middle;
}

#detailedinfo dl, #tracking dl {
	clear: right;
	overflow: auto;
	margin: 0 0 18px 0;
	padding: 0 0 15px 0;
	border-bottom: 1px #ccc solid;
}

#detailedinfo dt, #tracking dt {
	margin: 0 0 3px 0;
	padding: 0;
	font-weight: bold;
	color: $default-color;
	clear: both;
}

#detailedinfo dd, #tracking dd {
	margin: 0 0 10px 0;
	padding: 0;
}

#detailedinfo .noborder {
	border-bottom: 0;
}

#detailedinfo dt.clear {
	width: 100%;
}

#personal_picture {
	display: block;
	margin-bottom: 4px;
}

#avatar_upload {
	overflow: auto;
}

/* Activity by time */
#activitytime {
	margin: 6px 0;
}

.activity_stats {
	margin: 10px 0;
	padding: 0;
}

.activity_stats li {
	margin: 0;
	padding: 0;
	width: 4.16%;
	float: left;
}

.activity_stats li span {
	display: block;
	border: solid #666;
	border-width: 1px 1px 1px 1px;
	border-left: none;
	border-right: none;
	background: #eee;
	text-align: center;
}

.activity_stats li.last span {
	border-right: none;
}

.activity_stats li div.bar {
	margin: 0 auto;
	width: 15px;
	border: 1px solid $primary-border;
	border-bottom: none;
	background: #fff;
}

.activity_stats li div.bar div {
	background: $primary-accent;
}

.activity_stats li div.bar span {
	position: absolute;
	top: -1000em;
	left: -1000em;
}

.profile_pie {
	background: url("#{$images_url}/stats_pie.png");
	float: left;
	height: 20px;
	width: 20px;
	margin: 0 12px 0 0;
	padding: 0;
	text-indent: -1000em;
}

/* View posts */
.topic .time {
	float: right;
}

.counter {
	margin: 0;
	padding: 5px 6px 1px 2px;
	font-size: 2.2em;
	font-weight: bold;
	color: #3f3f3f;
	float: left;
}

.topic_details {
	padding: 0 4px 4px 4px;
}

.list_posts {
	border-top: 1px solid $primary-border;
	padding-top: 12px;
	margin: 0;
	overflow: auto;
	word-break: hyphenate;
	word-wrap: break-word;
}

.topic h4 {
	margin: 3px 0;
}

.topic .post {
	margin: 0 12px;
	min-height: 80px;
	height: auto !important;
	height: 80px;
}

.topic .mod_icons {
	text-align: right;
	margin-right: 12px;
}

#creator dt {
	width: 40%;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
}

#creator dd {
	float: right;
	width: 55%;
	margin: 0 0 10px 2px;
	overflow: visible;
}

.sizefix {
	width: 16px;
	height: 16px;
}

.ignoreboards {
	margin: 0 2%;
	padding: 0;
	width: 45%; /* todo convert to column-count: 2; */
}

.ignoreboards a {
	font-weight: bold;
	border-bottom: 1px solid #c4c4c4;
	padding: 1px 0;
}

.ignoreboards a:hover {
	text-decoration: none;
	border-bottom: 1px solid #334466;
}

.ignoreboards ul {
	margin: 0;
	padding: 0;
}

.ignoreboards li {
	float: left;
	clear: both;
}

.ignoreboards li.category {
	margin: 8px 0 0 0;
	width: 100%;
}

.ignoreboards li ul {
	margin: 2px 0 0 0;
}

.ignoreboards li.category ul li.board {
	width: 93%;
}

#theme_settings {
	overflow: auto;
	margin: 0;
	padding: 0;
}

#theme_settings li {
	margin: 10px 0;
	padding: 0;
}

/* Paid Subscriptions */
#paid_subscription {
	width: 100%;
}

#paid_subscription dl.settings {
	margin-bottom: 0;
}

#paid_subscription dl.settings dd, #paid_subscription dl.settings dt {
	margin-bottom: 4px;
}

/* Pick theme */
#pick_theme {
	width: 100%;
	float: left;
}

/* Signature preview */
dd#preview_signature_display {
	overflow: hidden;
}

/* Issue a warning */
#warn_body {
	width: 80%;
	font-size: 0.9em;
}

#warning_progress {
	height: 12pt;
	z-index: 1;
}

#warning_progress.mute {
	background-color: red;
}

#warning_progress.moderate {
	background-color: orange;
}

#warning_progress.watch {
	background-color: darkgreen;
}

#warning_progress.nothing {
	background-color: green;
}

#warning_container {
	font-size: 8pt;
	height: 12pt;
	width: 200px;
	border: 1px solid black;
	background-color: white;
	padding: 1px;
	position: relative;
}

#warning_text {
	padding-top: 1pt;
	width: 100%;
	z-index: 2;
	color: black;
	position: absolute;
	text-align: center;
	font-weight: bold;
}

div#char_theme_wrapper, #char_theme_wrapper {
	text-align: center;
}

.char_theme_container {
	width: 280px;
	display: inline-block;
	margin: 10px;
	text-align: center;
}

.char_theme_container button {
	display: block;
	margin: 0 auto;
	padding: 8px;
	height: auto;
	line-height: 1;
}

.char_theme_container img {
	max-width: 120px;
	max-height: 120px;
	margin: 0;
	padding: 0;
}

#basicinfo .badges {
	margin-top: 10px;
	margin-bottom: -10px;
}

#basicinfo div.position {
	margin-top: 10px;
}

#detailedinfo dl.char_sheet_text {
	border-bottom: none !important;
	margin-bottom: 0;
}

#detailedinfo .create_char_editor {
	width: 75%;
}

#detailedinfo ul.characters li {
	display: table;
	margin-bottom: 6px;
}

.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

img.avatar_small {
	max-width: 40px;
	max-height: 40px;
}

#current_sig_parsed, #sig_preview_parsed {
	border: none;
	padding-top: 0;
}

#preview_button {
	margin: 5px 0 0 0;
}

#detailedinfo #current_sig, #detailedinfo #sig_preview, #detailedinfo #sig_header {
	margin-bottom: 0;
	padding-bottom: 0;
}

#sig_preview, #sig_preview_parsed {
	display: none;
}

/* 25# Moderation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Move topic. */
.move_topic {
	width: 710px;
	margin: auto;
	text-align: left;
}

div.move_topic fieldset {
	padding: 6px;
}

/* Report topic/user form. */
#report_form dl.settings dt {
	width: 20%;
}

#report_form dl.settings dd {
	width: 79%;
}

#report_comment {
	width: 70%;
}

/* Split topics page. */
div#selected, div#not_selected {
	width: 49%;
}

ul.split_messages li a.split_icon {
	padding: 0 6px;
}

/* Merge topics page. */
ul.merge_topics li {
	list-style-type: none;
}

dl.merge_topic dt {
	width: 25%;
}

dl.merge_topic dd {
	width: 74%;
}

fieldset.merge_options {
	clear: both;
}

.custom_subject {
	margin: 6px 0;
}

.warn_mute {
	color: red;
}

.warn_moderate {
	color: #ffa500;
}

.warn_watch, .success {
	color: green;
}

a.moderation_link, a.moderation_link:visited {
	color: red;
	font-weight: bold;
}

#reported_posts .main_icons, #reported_members .main_icons {
	margin: -3px 1px 0 0;
}

#modcenter .main_icons {
	margin: -3px -3px 0 0;
}

/* ModerationButtons */
#moderationbuttons {
	float: left;
}

#moderationbuttons_strip {
	float: left;
	margin: 4px 0 4px -4px;
}

#moderationbuttons ul li {
	padding: 0 6px 4px 0;
	margin: 0;
}

.moderationbuttons_mobile_check {
	display: none;
}

/* 26# Login and registration forms
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.login {
	width: 540px;
	margin: 0 auto;
}

.login .login {
	width: auto;
}

.popup_content .login {
	width: 100%;
}

.login dl {
	overflow: auto;
	clear: right;
}

.login dt, .login dd {
	margin: 0 0 5px 0;
	width: 44%;
	padding: 1px;
}

.login dt {
	float: left;
	clear: both;
	text-align: right;
	font-weight: bold;
}

.login dd {
	width: 54%;
	float: right;
	text-align: left;
}

.login p {
	text-align: center;
}

/* The login form */
#guest_form {
	overflow: hidden;
	font-size: 0.9em;
	margin-left: -2px;
}

/* Additional register fields */
#registration fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

#registration .roundframe {
	border-top: none;
}

dl.register_form {
	margin: 0;
	clear: right;
}

dl.register_form dt {
	font-weight: normal;
	float: left;
	clear: both;
	width: 50%;
	margin: 6px 0 0 0;
}

dl.register_form dt span {
	display: block;
}

dl.register_form dd {
	float: left;
	width: 49%;
	margin: 6px 0 0 0;
}

#confirm_buttons {
	text-align: center;
	padding: 12px 0;
}

/* 27# Likes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#likes li {
	clear: both;
}

#likes .avatar {
	max-height: 90px;
	max-width: 90px;
	padding: 0 10px 0 0;
}

#likes span {
	display: inline-block;
	vertical-align: top;
}

#likes .description {
	font-style: italic;
	opacity: 0.4;
	font-size: 0.9em;
}

/* 29# Statistics center
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#statistics .roundframe {
	margin: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

dl.stats dt {
	width: 50%;
	float: left;
	margin: 0 0 4px 0;
	padding: 0;
	line-height: 1.5em;
	clear: both;
	font-size: 1em;
}

dl.stats dd {
	width: 50%;
	font-size: 1em;
	float: left;
	margin: 0 0 4px 0;
	line-height: 1.4em;
	min-height: 1.4em;
	background: #fff;
	border: 1px solid #9a9a9a;
	border-radius: 2px;
	position: relative;
}

.statsbar div.bar {
	float: left;
	background: $primary-accent;
	border-right: 1px solid $menu-bg;
	border-radius: 1px 0 0 1px;
	display: block;
	margin: 0 4px 0 0;
	height: 1.4em;
}

.statsbar div.bar.empty {
	width: 0;
	border-right: none;
}

#profileview dd, .nobb, .nobb dd {
	background: none !important;
	border: none !important;
}

dl.stats {
	padding: 5px;
}

/* Absolute positioning stops these breaking the bars on narrow screens. */
dl.stats dd span {
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	white-space: pre;
}

/* Forum history table. */
#stats td, #stats th {
	width: 15%;
	padding: 4px;
	text-align: center;
}

#stats tr.windowbg th.lefttext {
	text-align: left;
}

#stats tr.windowbg th.stats_month {
	width: 25%;
	padding: 0 2em;
	text-align: left;
}

#stats tr.windowbg td.stats_day {
	padding: 0 3.5em;
	text-align: left;
}

/* 37# Misc stuff
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Make the reCAPTCHA dialog centered to match the positioning of the built-in verification */
.g-recaptcha {
	display: inline-block;
}

/* Hide this from desktop users sshh... our little sekrit */
.mobile_buttons, .mobile_display {
	display: none;
}

/* AJAX notification bar */
#ajax_in_progress {
	background: $content-background;
	border-bottom: 4px solid $primary-accent;
	color: $primary-accent;
	text-align: center;
	font-size: 1.6em;
	padding: 8px;
	width: 100%;
	line-height: 25px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}

#ajax_in_progress a {
	color: orange;
	text-decoration: underline;
	font-size: 0.9em;
	float: right;
	margin-right: 20px;
}

/* Maintenance mode */
#maintenance_mode img.floatleft {
	margin-right: 12px;
}

/* Custom profile fields like to play with us some times. */
#admin_content .custom_field {
	margin-bottom: 15px;
}

#admin_login .centertext {
	padding: 12px;
}

#admin_login .centertext .error {
	padding: 0 0 12px 0;
}

.custom_field a img {
	vertical-align: middle;
}

.errorfile_table {
	background: #f0f4f7;
	border-spacing: 3px;
	border-collapse: collapse;
}

.errorfile_table td.current {
	font-weight: bold;
	border: 1px solid black;
	border-width: 1px 0 1px 1px;
}

/* Some new stuff */
#display_head {
	clear: both;
	margin: -7px 0 15px 0;
}

#display_head p {
	color: #959595;
}

#display_head span {
	margin: -4px 0 0 0;
}

.display_title {
	font-weight: normal;
	font-size: 26px;
	margin-bottom: 0.25em;
}

#alerts tr.windowbg td {
	border-right: 1px solid $primary-border;
}

#admin_content .character_group {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-bottom: 10px;
}

#admin_content .character_group:last-of-type {
	margin-bottom: 0;
}

#admin_content .character_group .group_name {
	display: inline-block;
	min-width: 200px;
}

#admin_content .character_group .group_icons {
	display: inline-block;
	min-width: 200px;
}

span.draggable-handle {
	content: '....';
	width: 15px;
	height: 24px;
	display: inline-block;
	overflow: hidden;
	line-height: 5px;
	padding: 3px 4px;
	cursor: move;
	vertical-align: middle;
	margin-top: -.7em;
	margin-right: .3em;
	font-size: 12px;
	font-family: sans-serif;
	letter-spacing: 2px;
	color: $secondary-accent-dark;
}

span.draggable-handle::after {
	content: '.. .. .. ..';
}

/* Other */
/* Information */
#messageindex .information {
	border-radius: 0;
	margin: 0;
}

#topic_icons .information, #messageindex .information {
	border-top: 1px solid $primary-border;
}

/* On/Off Icons (User) */
.on, .off {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 12px;
	border: 1px solid none;
	vertical-align: middle;
}

.on {
	background: #99FF66;
}

.off {
	background: grey;
}

#firefox .on, #firefox .off {
	margin: 0 0 5px 0;
}

#userstatus .smalltext {
	margin: 0 0 0 5px !important;
}

/* If it fits I sits... */
.navigate_section ul, .popup_content, .up_contain {
	background: $primary-list-bg;
}

/* Topic/Board follow-alert menu */
.notify_dropdown strong {
	font-size: 1.1em;
}

.notify_dropdown a {
	display: block;
	padding: 0.5em;
}

.notify_dropdown a:hover {
	text-decoration: none;
	background: #eee;
}

.notify_dropdown span {
	font-size: 0.9em;
}

div#manage_boards dl dd textarea[name=desc] {
	margin-top: 1px;
}

.title_top {
	margin-top: 10px !important;
}

.infolinks {
	display: block;
}

#groups .windowbg {
	border-radius: 0;
	border-top: 0;
	margin: 0;
}

#groups .padding {
	margin: 0 0 25px 0;
}

.sceditor-container textarea, .sceditor-container textarea:focus {
	box-shadow: none;
	padding: 6px;
}

.action_forum {
	.blocktype_multiblock {
		.cat_bar {
			background: $secondary-accent;
			border-bottom: none;
		}
		.sub_bar {
			background: $secondary-accent-light;
		}
		.information {
			border-color: $secondary-accent-light;
		}
		.information.block_content {
			border-top: none;
		}
		.subbg {
			color: $secondary-accent-contrast;
		}
	}
	.blocktype_affiliates {
		.cat_bar {
			background: $secondary-accent;
		}
		.titlebg {
			color: $secondary-accent-contrast;
		}
		.information {
			padding: 0;
			border-color: $secondary-accent-light;
		}
		.information.block_content {
			border-top: none;
		}
		.title_bar {
			margin-top: 0;
			padding: 0;
			border: none;
		}
		.centertext {
			padding: 5px 5%;

			a {
				display: inline-block;
				margin: 10px 5px;
				line-height: 1;
			}
		}

		.affiliate_tier.desaturate img {
		    filter: grayscale(1);
    		transition: all 300ms ease;

    		&:hover {
    		    filter: grayscale(0);
    		}
		}
	}
}

#admin_content .up_contain {
	&.affiliate {
		padding: 10px 0;
		position: relative;

		.affiliate-image, .affiliate-desc, .affiliate-options {
			display: inline-block;
			vertical-align: middle;
		}
		.affiliate-image {
			margin-right: 10px;
		}
		.affiliate-options {
			position: absolute;
			right: 15px;

			.buttonlist {
				margin: 0;
				padding: 0;
			}
		}
	}

	&.admin-prefix {
		padding: 20px 0;
		position: relative;
		
		.prefix-preview, .prefix-options {
			display: inline-block;
			vertical-align: middle;
		}

		.prefix-options {
			position: absolute;
			right: 15px;

			.buttonlist {
				margin: 0;
				padding: 0;
			}
		}
	}
}

#admin_content .admin-prefix-columns {
	columns: 2;

	label {
	    display: block;
	    padding: 7px;
	}
}

.hiddenelement {
	display: none;
}


#character_filter label {
	display: inline-block;
	width: 30%;
}

.character_filter .character {
	margin-top: 20px;
}
