	{{! The generic menu itself }}
	<div class="generic_menu">
		<ul class="dropmenu dropdown_menu_{{context.cur_menu_id}}">

{{#each context.current_menu_context.sections}}
			<li{{#if this.areas}} class="subsections"{{/if}}>
				<a class="{{#if this.selected}}active{{/if}}" href="{{this.url}}{{../context.current_menu_context.extra_parameters}}">{{{this.title}}}</a>
			</li>
{{/each}}

		</ul>
	</div>