<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/css "access plus 6 months"
	ExpiresByType image/svg+xml "access plus 6 months"
	ExpiresByType font/woff "access plus 6 months"
	ExpiresByType font/woff2 "access plus 6 months"
	ExpiresByType font/ttf "access plus 6 months"
	ExpiresByType font/otf "access plus 6 months"
	ExpiresByType application/javascript "access plus 6 months"
</IfModule>