	<div class="block block_{{blocktype}}" id="block_{{instance}}">
		<div class="roundframe">
			<div class="title_bar">
				<h3 class="titlebg">
					{{title}}
				</h3>
			</div>
			<div>
				{{content}}
			</div>
		</div>
	</div>