		<div class="g-recaptcha centertext" data-sitekey="{{recaptcha_site_key}}" data-theme="{{recaptcha_theme}}"></div>
		<br>
		<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>