{foreach $buttons as $button_value => $button_text}
	<button role="button" type="submit" class="button" name="{$name}" aria-labelledby="element-label-{$name|slugify}" value="{$button_value}">
		{$button_text|translate}
	</button>
{/foreach}