{% macro begin() %}
	<div class="panel">
{% endmacro %}

{% macro end() %}
	</div>
{% endmacro %}

{% macro heading(title) %}
		<div class="panel-heading">{{ title }}</div>
{% endmacro %}

{% macro subheading(title) %}
		<div class="panel-subheading">{{ title }}</div>
{% endmacro %}

{% macro body_begin() %}
		<div class="panel-body">
{% endmacro %}

{% macro body_end() %}
		</div>
{% endmacro %}