<ul id="likes">
	{{#each context.likers}}
	<li>
		{{{profile.avatar.image}}}
		<span>
			{{{profile.link_color}}}<br>
			<span class="description">{{profile.group}}</span>
		</span>
		<span class="floatright">{{{time}}}</span>
	</li>
	{{/each}}
	</ul>
	<br class="clear">