		{{! When we have a popup, we want to show it off nicely. }}
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.show_notice_subject}}}: {{{context.notice_subject}}}</h3>
		</div>
		<div class="windowbg">
			<dl>
				<dt>
					<strong>{{{txt.show_notice_text}}}:</strong>
				</dt>
				<dd>
					{{{context.notice_body}}}
				</dd>
			</dl>
		</div>