<ul id="smf_slider" class="roundframe">
{{#each context.news_lines}}
    <li>{{this}}</li>
{{/each}}
</ul>
<script>
    jQuery("#smf_slider").slippry({
        pause: {{settings.newsfader_time}},
        adaptiveHeight: 0,
        captions: 0,
        controls: 0,
    });
</script>
