		{{! Setting up a backup code for 2FA}}
		<div class="cat_bar">
			<h3 class="catbg">{{{txt.tfa_backup_title}}}</h3>
		</div>
		<div class="roundframe">
			<div>
				<div class="smalltext">{{{txt.tfa_backup_desc}}}</div>
				<div class="bbc_code" style="resize: none; border: none;">{{{context.tfa_backup}}}</div>
			</div>
		</div>