		{{! Not much to see here, just a quick... "you're now registered!" or what have you. }}
		<div id="registration_success">
			<div class="cat_bar">
				<h3 class="catbg">{{{context.title}}}</h3>
			</div>
			<div class="windowbg noup">
				<p>{{{context.description}}}</p>
			</div>
		</div>